.subtitle {
  color: gray;
  font-weight: 400;
  font-size: 16px;
}
.title {
  font-size: 28px;
}
.categoryList {
  margin-top: 35px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.category {
    padding: 15px 25px;
    border-radius: 15px;
    font-size: 18px;
  text-transform: capitalize;

}

.category.style {
  background-color: #57c4ff31;
}
.category.fashion {
  background-color: #da85c731;
}
.category.food {
  background-color: #7fb88133;
}
.category.travel {
  background-color: #ff795736;
}
.category.culture {
  background-color: #ffb04f45;
}
.category.coding {
  background-color: #5e4fff31;
}
