.container{
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    gap: 50px;
}
.imgContainer{
    flex: 1;
    position: relative;
    height: 350px;
}
.image{
    object-fit: cover;
}
.textContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.detail{
    display: flex;
    gap: 10px;
}
.date{
    color: grey;
}
.category{
    color: crimson;
    font-weight: 500;
}
.desc{
    font-size: 18px;
    font-weight: 300;
    color: var(--softTextColor);
}
.link{
    border-bottom: 1px solid crimson;
    width: max-content;
    padding: 2px 0px;
}

@media screen and (max-width:1280px) {
    .imgContainer{
        display: none;
    }
}
@media screen and (max-width:1280px) {
    .imgContainer{
        display: none;
    }
}