.container {
}
.editor {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 700px;
  position: relative;
}
.textArea {
  width: 100%;
  
}
.button,
.addButton {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--textColor);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.addButton {
  border-color: #1a8917;
}
.add {
  display: flex;
  width: 100%;
  gap: 20px;
  background-color: var(--bg);
  z-index: 99;
  left: 50px;
  position: absolute;
}
.input {
  pad: 50px;
  font-size: 64px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--textColor);
}

.input::placeholder {
  color: #8b8b8b;
}

.textArea::placeholder {
  color: #8b8b8b;
}

.publish {
  position: absolute;
  top: 30px;
  right: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #1a8917;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
